<form method="post" action="/new">
  <p>Name:
    <textarea name = "name"></textarea>
  </p>
  <p>Breed:
    <textarea name = "breed"></textarea>
  </p>
  <p>Age:
    <textarea name = "age"></textarea>
  </p>
  <button type="submit" value="submit">submit</button>
</form>
